<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-label>Message</ion-label>
    <ion-input></ion-input>
    <ion-button (click)="InitializeApp()" expand="full">Initialize app</ion-button>
    <ion-button (click)="RegisterUser()" expand="full">RegisterUser</ion-button>
    <ion-button (click)="RegisterUser1()" expand="full">RegisterUser1</ion-button>
    <ion-button (click)="LoginUser()" expand="full">LoginUser</ion-button>
    <ion-button (click)="sendMessage()" expand="full">send Message</ion-button>
    <ion-button (click)="sendMessage1()" expand="full">send Message1</ion-button>
    <ion-button (click)="getRecentChats()" expand="full">get Chats</ion-button>
    <ion-button (click)="getRecentChats1()" expand="full">get Chats one</ion-button>

  </div>
</ion-content>
